@import "tailwindcss";
@plugin "tailwind-corner-smoothing";

@theme {
  --color-deep-indigo: #583fbc;
  --color-sky-mist: #dbeffa;
  --color-soft-lavender: #f6dbfa;
  --color-rose-blush: #fadbe2;
  --color-deep-navy: #041434;
  --color-midnight-indigo: #181945;
  --color-midnight-indigo-70: rgba(24, 25, 69, 0.7);
  --color-midnight-indigo-60: rgba(24, 25, 69, 0.6);
  --color-midnight-indigo-50: rgba(24, 25, 69, 0.5);
  --font-ubuntu: "Ubuntu", sans-serif;

  --text-link: clamp(12px, 1.5vw, 16px);
  --line-height-link: 24px;

  --text-title: clamp(10px, 1.2vw, 12px);
  --line-height-title: 20px;

  --text-body: clamp(14px, 2vw, 18px);
  --line-height-body: 28px;

  --text-h2: clamp(32px, 5vw, 48px);
  --line-height-h2: 1.2;

  --text-h1: clamp(40px, 6vw, 64px);
  --line-height-h1: 1.1;
}

:root {
 
}
